
 {% extends 'base.html' %}

{% load static %}

{% block content %}  


            <!-- Section Title -->
            <div class="section-title single-player" style="background-image:url(&quot;{% static 'img/slide/3.jpg' %}&quot;);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>{{ player.name }}</h1>
                        </div>

                        <div class="col-md-4">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'accounts:player_list' %}">Players</a></li>
                                    <li>{{ player.name }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section Title -->

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <!-- Single Team Tabs -->
                <div class="single-player-tabs">
                   <div class="container">
                        <div class="row">
                            <!-- Side info single team-->
                            <div class="col-lg-4 col-xl-3">

                                <div class="item-player single-player">
                                    <div class="head-player">
                                    {% if player.profile_image %}
                                        <img src="{{ player.profile_image.url }}" alt="{{ player.name }}">
                                    {% elif player.current_team and player.current_team.logo %}
                                        <img src="{{ player.current_team.logo.url }}" alt="{{ player.name }}">
                                    {% else %}
                                        <img src="{% static 'img/players/default-player.jpg' %}" alt="{{ player.name }}">
                                    {% endif %}
                                </div>
                                <div class="info-player">
                                    <span class="number-player">
                                        {{ player.skill_rating }}
                                    </span>
                                    <h4>
                                        {{ player.name }}
                                        <span>{{ player.get_position_display }}</span>
                                    </h4>
                                    <ul style="color: black;" class="list-data-player">
                                        <li>
                                            <strong>CLUB NAME:</strong>
                                            <span>
                                                {% if player.current_team %}
                                                    {{ player.current_team.name }}
                                                {% else %}
                                                    Free Agent
                                                {% endif %}
                                            </span>
                                        </li>
                                        <li><strong>POSITION:</strong> <span>{{ player.get_position_display }}</span></li>
                                        <li><strong>SKILL:</strong> <span>{{ player.skill_rating }}</span></li>
                                        <li><strong>GOALS:</strong> <span>{% if player.stats %}{{ player.stats.goals }}{% else %}0{% endif %}</span></li>
                                        <li><strong>ASSISTS:</strong> <span>{% if player.stats %}{{ player.stats.assists }}{% else %}0{% endif %}</span></li>
                                        <li><strong>MVP:</strong> <span>{% if player.stats %}{{ player.stats.mvp_awards }}{% else %}0{% endif %}</span></li>
                                    </ul>

                                        <h6>Follow {{ player.name }}</h6>

                                        <ul class="social-player">
                                            <li>
                                                <div>
                                                    <a href="#" class="facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <a href="#" class="twitter-icon">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <a href="#" class="youtube">
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Attack -->
                                <div class="panel-box">
                                    <div class="titles no-margin">
                                        <h4><i class="fa fa-user"></i>Personal Info</h4>
                                    </div>
                                    <ul style="color: black;" class="list-panel">
                                        <li><p>Email <span>{{ player.email }}</span></p></li>
                                        <li><p>Draft Status <span>{{ player.get_draft_status_display }}</span></p></li>
                                        <li><p>Team <span>{% if player.current_team %}{{ player.current_team.name }}{% else %}Free Agent{% endif %}</span></p></li>
                                        <li><p>Role <span>{{ player.get_role_display }}</span></p></li>
                                        <li><p>Goals <span>{% if player.stats %}{{ player.stats.goals }}{% else %}0{% endif %}</span></p></li>
                                    </ul>
                                </div>
                                <!-- End Attack -->
                            </div>
                            <!-- end Side info single team-->

                            <div class="col-lg-8 col-xl-9">
                                <!-- Nav Tabs -->
                                <ul class="nav nav-tabs" id="myTab">
                                   <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                                   <li><a href="#career" data-toggle="tab">CAREER</a></li>
                                   <li><a href="#stats" data-toggle="tab">STATS</a></li>
                                </ul>
                                <!-- End Nav Tabs -->

                                <!-- Content Tabs -->
                                <div class="tab-content">
                                    <!-- Tab One - overview -->
                                    <div class="tab-pane active" id="overview">

                                        <div class="panel-box padding-b">
                                          <div class="titles">
                                              <h4>{{ player.name }} overview</h4>
                                          </div>
                                            <div class="row">
                                               <div class="col-lg-12 col-xl-4">
                                                   {% if player.profile_image %}
                                                       <img src="{{ player.profile_image.url }}" alt="{{ player.name }}">
                                                   {% elif player.current_team and player.current_team.logo %}
                                                       <img src="{{ player.current_team.logo.url }}" alt="{{ player.name }}">
                                                   {% else %}
                                                       <img src="{% static 'img/clubs-teams/single-team.jpg' %}" alt="{{ player.name }}">
                                                   {% endif %}
                                               </div>

                                               <div style="color: black;" class="col-lg-12 col-xl-8">
                                                   {% if player.description %}
                                                       <p>{{ player.description|linebreaks }}</p>
                                                   {% elif player.current_team and player.current_team.description %}
                                                       <p>{{ player.current_team.description|linebreaks }}</p>
                                                   {% else %}
                                                       <p>{{ player.name }} is a {{ player.get_position_display }} with a skill rating of {{ player.skill_rating }}. So far, {{ player.name }} has scored {% if player.stats %}{{ player.stats.goals }}{% else %}0{% endif %} goals and provided {% if player.stats %}{{ player.stats.assists }}{% else %}0{% endif %} assists.</p>
                                                   {% endif %}
                                               </div>
                                           </div>
                                       </div>



                                       <!--Sponsors CLub -->
                                       <!-- <div class="row no-line-height">
                                              <div class="col-md-12">
                                                  <h3 class="clear-title">Sponsors Player</h3>
                                              </div>
                                        </div> -->
                                        <!--End Sponsors CLub -->

                                        <!-- <ul class="sponsors-carousel">
                                            <li><a href="#"><img src="img/sponsors/1.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/sponsors/2.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/sponsors/3.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/sponsors/4.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/sponsors/5.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/sponsors/3.png" alt=""></a></li>
                                        </ul> -->

                                    </div>
                                    <!-- Tab One - overview -->

                                    <!-- Tab Three - career -->
                                    <div class="tab-pane" id="career" style="color: black;">
                                        <div class="col-lg-12">
                                            <table class="table-striped table-responsive table-hover career" style="color: black;">
                                                <thead>
                                                    <tr>
                                                        <th style="color: black;">Season</th>
                                                        <th style="color: black;">Club</th>
                                                        <th style="color: black;">Goals</th>
                                                        <th style="color: black;">Assists</th>
                                                        <th style="color: black;">MVPs</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="color: black;">
                                                            {% if player.current_team and player.current_team.season %}
                                                                {{ player.current_team.season.season_number }}
                                                            {% else %}
                                                                Current
                                                            {% endif %}
                                                        </td>
                                                        <td style="color: black;">
                                                            {% if player.current_team %}
                                                                {{ player.current_team.name }}
                                                            {% else %}
                                                                Free Agent
                                                            {% endif %}
                                                        </td>
                                                        <td style="color: black;">{% if player.stats %}{{ player.stats.goals }}{% else %}0{% endif %}</td>
                                                        <td style="color: black;">{% if player.stats %}{{ player.stats.assists }}{% else %}0{% endif %}</td>
                                                        <td style="color: black;">{% if player.stats %}{{ player.stats.mvp_awards }}{% else %}0{% endif %}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- End Tab Three - career -->

                                    <!-- Tab Three - stats -->
                                    <div class="tab-pane" id="stats" style="color: black;">

                                        <div class="row" style="color: black;">
                                            <div class="col-lg-12">
                                                <div class="stats-info">
                                                    <ul>
                                                        <li>
                                                            Appearances
                                                            <h3 style="color: black;">{% if player.stats %}{{ player.stats.goals|add:player.stats.assists|default:0 }}{% else %}0{% endif %}</h3>
                                                        </li>

                                                        <li>
                                                            Goals
                                                            <h3 style="color: black;">{% if player.stats %}{{ player.stats.goals }}{% else %}0{% endif %}</h3>
                                                        </li>

                                                        <li>
                                                            Assists
                                                            <h3 style="color: black;">{% if player.stats %}{{ player.stats.assists }}{% else %}0{% endif %}</h3>
                                                        </li>

                                                        <li>
                                                            MVP Awards
                                                            <h3 style="color: black;">{% if player.stats %}{{ player.stats.mvp_awards }}{% else %}0{% endif %}</h3>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-xl-4">
                                                <div class="panel-box" style="color: black;">
                                                    <div class="titles no-margin">
                                                        <h4 style="color: black;"><i class="fa fa-calendar"></i>Attack</h4>
                                                    </div>
                                                    <ul class="list-panel" style="color: black;">
                                                        <li><p>Goals <span>{% if player.stats %}{{ player.stats.goals }}{% else %}0{% endif %}</span></p></li>
                                                        <li><p>Assists <span>{% if player.stats %}{{ player.stats.assists }}{% else %}0{% endif %}</span></p></li>
                                                        <li><p>MVP Awards <span>{% if player.stats %}{{ player.stats.mvp_awards }}{% else %}0{% endif %}</span></p></li>
                                                        <li><p>Skill Rating <span>{{ player.skill_rating }}</span></p></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-xl-4">
                                                <div class="panel-box" style="color: black;">
                                                    <div class="titles no-margin">
                                                        <h4 style="color: black;"><i class="fa fa-calendar"></i>Team Play</h4>
                                                    </div>
                                                    <ul class="list-panel" style="color: black;">
                                                        <li><p>Club <span>{% if player.current_team %}{{ player.current_team.name }}{% else %}Free Agent{% endif %}</span></p></li>
                                                        <li><p>Draft Status <span>{{ player.get_draft_status_display }}</span></p></li>
                                                        <li><p>Role <span>{{ player.get_role_display }}</span></p></li>
                                                        <li><p>Skill Rating <span>{{ player.skill_rating }}</span></p></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-xl-4">
                                                <div class="panel-box" style="color: black;">
                                                    <div class="titles no-margin">
                                                        <h4 style="color: black;"><i class="fa fa-calendar"></i>Defence</h4>
                                                    </div>
                                                    <ul class="list-panel" style="color: black;">
                                                        <li><p>Yellow Cards <span>{% if player.stats %}{{ player.stats.yellow_cards }}{% else %}0{% endif %}</span></p></li>
                                                        <li><p>Red Cards <span>{% if player.stats %}{{ player.stats.red_cards }}{% else %}0{% endif %}</span></p></li>
                                                        <li><p>Total Cards <span>{% if player.stats %}{{ player.stats.yellow_cards|add:player.stats.red_cards }}{% else %}0{% endif %}</span></p></li>
                                                        <li><p>Matches <span>n/a</span></p></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Tab Three - stats -->
                                </div>
                                <!-- Content Tabs -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Team Tabs -->

                
        
        <!-- End layout-->

        <!-- ======================= JQuery libs =========================== -->
        <!-- jQuery local-->
        <script type="7cd3d7c66873cde14fb1b8fb-text/javascript" src="assets/js/jquery.js"></script>
        <!-- popper.js-->
        <script type="7cd3d7c66873cde14fb1b8fb-text/javascript" src="assets/js/popper.min.js"></script>
        <!-- bootstrap.min.js-->
        <script type="7cd3d7c66873cde14fb1b8fb-text/javascript" src="assets/js/bootstrap.min.js"></script>
        <!-- required-scripts.js-->
        <script type="7cd3d7c66873cde14fb1b8fb-text/javascript" src="assets/js/theme-scripts.js"></script>
        <!-- theme-main.js-->
        <script type="7cd3d7c66873cde14fb1b8fb-text/javascript" src="assets/js/theme-main.js"></script>
        <!-- ======================= End JQuery libs =========================== -->

    <script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="7cd3d7c66873cde14fb1b8fb-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v833ccba57c9e4d2798f2e76cebdd09a11778172276447" integrity="sha512-57MDmcccJXYtNnH+ZiBwzC4jb2rvgVCEokYN+L/nLlmO8rfYT/gIpW2A569iJ/3b+0UEasghjuZH/ma3wIs/EQ==" data-cf-beacon='{"version":"2024.11.0","token":"56295f114ba5467d8767bbed7e63ce1e","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>

    {% endblock %}



