
 {% extends 'base.html' %}

{% load static %}

{% block content %}  
            <!-- Section Title -->
            <div class="section-title-team">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="img/clubs-logos/col_logo.png" alt="">
                                </div>

                                <div class="col-md-9"><br>

    <h1>{{ team.name|upper }}</h1>

    <ul class="general-info">

        <li>
            <h6>
                <strong>Year Founded:</strong>
                {{ team.foundation_year|default:"" }}
            </h6>
        </li>

        <li>
            <h6>
                <strong>President:</strong>
                {{ team.president.name }}
            </h6>
        </li>

        <li>
            <h6>
                <strong>Manager:</strong>
                {{ team.manager_name|default:"" }}
            </h6>
        </li>

        <li>
            <h6>
                <strong>League Titles:</strong>
                {{ team.total_titles }}
            </h6>
        </li>

        <li>
            <h6>
                <strong>Location:</strong>
                {{ team.location|default:"" }}
            </h6>
        </li>

        {% if team.website %}
        <li>
            <h6>
                <i class="fa fa-link"></i>
                <a href="{{ team.website }}" target="_blank">
                    Official Website
                </a>
            </h6>
        </li>
        {% endif %}

    </ul>

    <ul class="social-teams">

        {% if team.facebook_url %}
        <li>
            <div>
                <a href="{{ team.facebook_url }}" class="facebook" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
        </li>
        {% endif %}

        {% if team.twitter_url %}
        <li>
            <div>
                <a href="{{ team.twitter_url }}" class="twitter-icon" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </li>
        {% endif %}

        {% if team.youtube_url %}
        <li>
            <div>
                <a href="{{ team.youtube_url }}" class="youtube" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </li>
        {% endif %}

    </ul>

</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-image-team" style="background:url(img/clubs-teams/colombia.jpg);"></div>
            </div>
            <!-- End Section Title -->

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <!-- Single Team Tabs -->
                <div class="single-team-tabs">
                   <div class="container">
                        <div class="row">
                            <!-- Left Content - Tabs and Carousel -->
                            <div class="col-xl-12 col-md-12">
                                <!-- Nav Tabs -->
                                <ul class="nav nav-tabs" id="myTab">
                                   <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                                   <li><a href="#squad" data-toggle="tab">Squad</a></li>
                                   <li><a href="#fixtures" data-toggle="tab">FIXTURES</a></li>
                                   <li><a href="#results" data-toggle="tab">RESULTS</a></li>
                                   <li><a href="#stats" data-toggle="tab">STATS</a></li>
                                </ul>
                                <!-- End Nav Tabs -->
                            </div>

                            <div class="col-lg-9 padding-top-mini">
                                <!-- Content Tabs -->
                                <div class="tab-content">
                                    <!-- Tab One - overview -->
                                    <div class="tab-pane active" id="overview">

                                       <div class="panel-box padding-b">

    <div class="titles">
        <h4>{{ team.name }}</h4>
    </div>

    <div class="row">

        <div class="col-lg-12 col-xl-4">

            {% if team.logo %}
                <img src="{{ team.logo.url }}" alt="{{ team.name }}">
            {% else %}
                <img src="{% static 'img/clubs-teams/single-team.jpg' %}" alt="{{ team.name }}">
            {% endif %}

        </div>

        <div style="color: black;" class="col-lg-12 col-xl-8">

            {% if team.description %}

                <p>{{ team.description|linebreaks }}</p>

            {% else %}

                <p>No team description available.</p>

            {% endif %}

        </div>

    </div>
</div>

                                       <!--Items Club News -->
                                       <div class="row">
                                          <div class="col-md-12">
                                              <h3 style="color: #ffffff;" class="clear-title">Latest Club News</h3>
                                          </div>

                                          <!--Item Club News -->
                                          <div class="col-lg-6 col-xl-4">
                                               <!-- Widget Text-->
                                                <div class="panel-box">
                                                    <div class="titles no-margin">
                                                        <h4><a href="#">World football's dates.</a></h4>
                                                    </div>
                                                    <a href="#"><img src="{% static 'img/blog/1.jpg' %}" alt=""></a>
                                                    <div class="row">
                                                       <div style="color: #000000;" class="info-panel">
                                                            <p>Fans from all around the world can apply for 2018 FIFA World Cup™ tickets as the first window of sales.</p>
                                                       </div>
                                                    </div>
                                                </div>
                                                <!-- End Widget Text-->
                                           </div>
                                           <!--End Item Club News -->

                                           <!--Item Club News -->
                                          <div class="col-lg-6 col-xl-4">
                                               <!-- Widget Text-->
                                                <div class="panel-box">
                                                    <div class="titles no-margin">
                                                        <h4><a href="#">Mbappe’s year to remember</a></h4>
                                                    </div>
                                                    <a href="#"><img src="{% static 'img/blog/2.jpg' %}" alt=""></a>
                                                    <div class="row">
                                                       <div style="color: #000000;" class="info-panel">
                                                            <p>Tickets may be purchased online by using Visa payment cards or Visa Checkout. Visa is the official.</p>
                                                       </div>
                                                    </div>
                                                </div>
                                                <!-- End Widget Text-->
                                           </div>
                                           <!--End Item Club News -->

                                           <!--Item Club News -->
                                          <div class="col-lg-6 col-xl-4">
                                               <!-- Widget Text-->
                                                <div class="panel-box">
                                                    <div class="titles no-margin">
                                                        <h4><a href="#">Egypt are one family</a></h4>
                                                    </div>
                                                    <a href="#"><img src="{% static 'img/blog/3.jpg' %}" alt=""></a>
                                                    <div class="row">
                                                       <div style="color: #000000;" class="info-panel">
                                                            <p>Successful applicants who have applied for supporter tickets and conditional supporter tickets will.</p>
                                                       </div>
                                                    </div>
                                                </div>
                                                <!-- End Widget Text-->
                                           </div>
                                           <!--End Item Club News -->
                                       </div>
                                       <!--End Items Club News -->


                                       <!--Items Club video -->
                                       <div class="row no-line-height">
                                          <div class="col-md-12">
                                              <h3 style="color: #ffffff;" class="clear-title">Latest Club Videos</h3>
                                          </div>

                                          <!--Item Club News -->
                                          <div class="col-lg-6 col-xl-4">
                                               <!-- Widget Text-->
                                                <div class="panel-box">
                                                    <div class="titles no-margin">
                                                        <h4><a href="#">Eliminatory to the world.</a></h4>
                                                    </div>
                                                    <iframe class="video" src="https://www.youtube.com/embed/Ln8rXkeeyP0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                                </div>
                                                <!-- End Widget Text-->
                                           </div>
                                           <!--End Item Club News -->

                                           <!--Item Club News -->
                                          <div class="col-lg-6 col-xl-4">
                                               <!-- Widget Text-->
                                                <div class="panel-box">
                                                    <div class="titles no-margin">
                                                        <h4><a href="#">Colombia classification</a></h4>
                                                    </div>
                                                    <iframe class="video" src="https://www.youtube.com/embed/Z5cackyUfgk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                                </div>
                                                <!-- End Widget Text-->
                                           </div>
                                           <!--End Item Club News -->

                                           <!--Item Club News -->
                                          <div class="col-lg-6 col-xl-4">
                                               <!-- Widget Text-->
                                                <div class="panel-box">
                                                    <div class="titles no-margin">
                                                        <h4><a href="#">World Cup goal</a></h4>
                                                    </div>
                                                    <iframe class="video" src="https://www.youtube.com/embed/hW3hnUoUS0k" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                                </div>
                                                <!-- End Widget Text-->
                                           </div>
                                           <!--End Item Club News -->
                                       </div>
                                       <!--End Items Club video -->

                                       <!--Sponsors CLub -->
                                       <div class="row no-line-height">
                                              <div class="col-md-12">
                                                  <h3 style="color: #ffffff;" class="clear-title">Sponsors Club</h3>
                                              </div>
                                        </div>
                                        <!--End Sponsors CLub -->

                                        <ul class="sponsors-carousel">
                                            <li><a href="#"><img src="img/sponsors/1.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/sponsors/2.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/sponsors/3.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/sponsors/4.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/sponsors/5.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/sponsors/3.png" alt=""></a></li>
                                        </ul>

                                    </div>
                                    <!-- Tab One - overview -->

                                    <!-- Tab Two - squad -->
                                    <div class="tab-pane" id="squad">

    <div class="row">

        {% for player in players %}
        <div class="col-xl-4 col-lg-6 col-md-6">

            <div class="item-player">

                <div class="head-player">

                    {% if player.profile_image %}
                        <img src="{{ player.profile_image.url }}" alt="{{ player.name }}">
                    {% else %}
                        <img src="{% static 'img/players/default-player.jpg' %}" alt="{{ player.name }}">
                    {% endif %}

                    <div class="overlay">
                        <a href="{% url 'league:player_detail' player.pk %}">+</a>
                    </div>

                </div>

                <div class="info-player">

                    <span class="number-player">
                        {{ forloop.counter }}
                    </span>

                    <h4>
                        {{ player.name }}
                        <span>{{ player.get_position_display }}</span>
                    </h4>

                    <ul>

                        <li>
                            <strong  style="color: black;">TEAM</strong>
                            <span style="color: black;">{{ team.name }}</span>
                        </li>

                        <li>
                            <strong style="color: black;">GOALS:</strong>
                            <span style="color: black;">
                                {% if player.stats %}
                                    {{ player.stats.goals }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </li>

                        <li>
                            <strong style="color: black;">ASSISTS:</strong>
                            <span style="color: black;">
                                {% if player.stats %}
                                    {{ player.stats.assists }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </li>

                        <li>
                            <strong style="color: black;">MVP:</strong>
                            <span style="color: black;">
                                {% if player.stats %}
                                    {{ player.stats.mvp_awards }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </li>

                        <li>
                            <strong style="color: black;">RATING:</strong>
                            <span style="color: black;">{{ player.skill_rating }}</span>
                        </li>

                    </ul>

                </div>

                <a href="{% url 'league:player_detail' player.pk %}" class="btn">
                    View Player
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>

            </div>

        </div>
        {% empty %}

        <div class="col-md-12">
            <div class="alert alert-info text-center">
                No players have been assigned to this team yet.
            </div>
        </div>

        {% endfor %}

    </div>

</div>
                                    <!-- End Tab Two - squad -->

                                    <!-- Tab Theree - fixtures -->
                                    <div class="tab-pane" id="fixtures">

    <table class="table-striped table-responsive table-hover">

        <thead>
            <tr>
                <th>Home Team</th>
                <th class="text-center">VS</th>
                <th>Away Team</th>
                <th>Details</th>
            </tr>
        </thead>

        <tbody>

            {% for fixture in fixtures %}

            <tr>

                <td>
                    {% if fixture.home_team.logo_url %}
                        <img src="{{ fixture.home_team.logo_url }}"
                             alt="{{ fixture.home_team.name }}"
                             width="40">
                    {% endif %}

                    <strong>{{ fixture.home_team.name }}</strong><br>

                    <small class="meta-text">
                        {{ fixture.home_team.season.name }}
                    </small>
                </td>

                <td class="text-center">

                    {% if fixture.status == 'live' %}
                        <span class="badge badge-danger">LIVE</span>
                    {% else %}
                        Vs
                    {% endif %}

                </td>

                <td>
                    {% if fixture.away_team.logo_url %}
                        <img src="{{ fixture.away_team.logo_url }}"
                             alt="{{ fixture.away_team.name }}"
                             width="40">
                    {% endif %}

                    <strong>{{ fixture.away_team.name }}</strong><br>

                    <small class="meta-text">
                        {{ fixture.away_team.season.name }}
                    </small>
                </td>

                <td>

                    {{ fixture.scheduled_time|date:"M d, H:i" }}

                    <br>

                    <small class="meta-text">

                        {% if fixture.status == 'live' %}
                            Match In Progress
                        {% else %}
                            Upcoming Fixture
                        {% endif %}

                    </small>

                </td>

            </tr>

            {% empty %}

            <tr>
                <td colspan="4" class="text-center">
                    No upcoming fixtures available.
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>
                                    <!-- End Tab Theree - fixtures -->

                                    <!-- Tab Theree - results -->
                                    <div class="tab-pane" id="results">
    <div class="recent-results results-page">
        <div class="info-results">

            <ul>

                {% for result in results %}
                <li>

                    <span class="head">
                        {{ result.home_team.name }} Vs {{ result.away_team.name }}

                        <span class="date">
                            {{ result.scheduled_time|date:"d M Y" }}
                        </span>
                    </span>

                    <div class="goals-result">

                        <a href="{% url 'league:team_detail' result.home_team.pk %}">
                            {% if result.home_team.logo %}
                                <img src="{{ result.home_team.logo.url }}" alt="{{ result.home_team.name }}">
                            {% endif %}
                            {{ result.home_team.name }}
                        </a>

                        <span class="goals">

                            <b>{{ result.home_score }}</b>
                            -
                            <b>{{ result.away_score }}</b>

                            <a href="#" class="btn theme">
                                View More
                            </a>

                        </span>

                        <a href="{% url 'league:team_detail' result.away_team.pk %}">
                            {% if result.away_team.logo %}
                                <img src="{{ result.away_team.logo.url }}" alt="{{ result.away_team.name }}">
                            {% endif %}
                            {{ result.away_team.name }}
                        </a>

                    </div>

                </li>
                {% empty %}

                <li>
                    <div class="alert alert-info mb-0">
                        No completed matches found.
                    </div>
                </li>

                {% endfor %}

            </ul>

        </div>
    </div>
</div>
                                    <!-- End Tab Theree - results -->

                                    <!-- Tab Theree - stats -->
                                    <div class="tab-pane" id="stats">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="stats-info">
                                                    <ul>
                                                        <li>
                                                            Matches Played
                                                            <h3>866</h3>
                                                        </li>

                                                        <li>
                                                            Wins
                                                            <h3>328</h3>
                                                        </li>

                                                        <li>
                                                            Losses
                                                            <h3>317</h3>
                                                        </li>

                                                        <li>
                                                            Goals
                                                            <h3>1,188</h3>
                                                        </li>

                                                        <li>
                                                            Goals Conceded
                                                            <h3>1,170</h3>
                                                        </li>

                                                        <li>
                                                            Clean Sheets
                                                            <h3>226</h3>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-xl-4">
                                                <!-- Attack -->
                                                <div class="panel-box">
                                                    <div class="titles no-margin">
                                                        <h4><i class="fa fa-calendar"></i>Attack</h4>
                                                    </div>
                                                    <ul class="list-panel">
                                                        <li><p>Goals <span>1,188</span></p></li>
                                                        <li><p>Goals Per Match <span>1.37</span></p></li>
                                                        <li><p>Shots <span>4,621</span></p></li>
                                                        <li><p>Shooting Accuracy % <span>32%</span></p></li>
                                                        <li><p>Penalties Scored <span>30</span></p></li>
                                                        <li><p>Big Chances Created <span>293</span></p></li>
                                                        <li><p>Hit Woodwork <span>107</span></p></li>
                                                    </ul>
                                                </div>
                                                <!-- End Attack -->
                                            </div>

                                            <div class="col-lg-6 col-xl-4">
                                                <!-- Attack -->
                                                <div class="panel-box">
                                                    <div class="titles no-margin">
                                                        <h4><i class="fa fa-calendar"></i>Team Play</h4>
                                                    </div>
                                                    <ul class="list-panel">
                                                        <li><p>Passes <span>140,417</span></p></li>
                                                        <li><p>Passes Per Match <span>162.14</span></p></li>
                                                        <li><p>Pass Accuracy % <span>76%</span></p></li>
                                                        <li><p>Crosses <span>8,148</span></p></li>
                                                        <li><p>Cross Accuracy % <span>22%</span></p></li>
                                                    </ul>
                                                </div>
                                                <!-- End Attack -->
                                            </div>

                                            <div class="col-lg-6 col-xl-4">
                                                <!-- Attack -->
                                                <div class="panel-box">
                                                    <div class="titles no-margin">
                                                        <h4><i class="fa fa-calendar"></i>Defence</h4>
                                                    </div>
                                                    <ul class="list-panel">
                                                        <li><p>Clean Sheets <span>226</span></p></li>
                                                        <li><p>Goals Conceded <span>1,170</span></p></li>
                                                        <li><p>Goals Conceded Per Match <span>1.35</span></p></li>
                                                        <li><p>Saves <span>392</span></p></li>
                                                        <li><p>Tackles <span>7,438</span></p></li>
                                                        <li><p>Tackle Success % <span>75%</span></p></li>
                                                        <li><p>Blocked Shots <span>1,208</span></p></li>
                                                        <li><p>Interceptions <span>5,334</span></p></li>
                                                        <li><p>Clearances <span>11,436</span></p></li>
                                                        <li><p>Headed Clearance <span>3,710</span></p></li>
                                                        <li><p>Aerial Battles/Duels Won <span>25,401</span></p></li>
                                                        <li><p>Errors Leading To Goal <span>59</span></p></li>
                                                        <li><p>Own Goals <span>27</span></p></li>
                                                    </ul>
                                                </div>
                                                <!-- End Attack -->
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Tab Theree - stats -->
                                </div>
                                <!-- Content Tabs -->
                            </div>

                            <!-- Side info single team-->
                            <!-- <div class="col-lg-3 padding-top-mini"> -->
                               <!-- Diary -->
                                <!-- <div class="panel-box">
                                    <div class="titles">
                                        <h4><i class="fa fa-calendar"></i>Diary</h4>
                                    </div> -->

                                    <!-- List Diary -->
                                    <!-- <ul class="list-diary"> -->
                                        <!-- Item List Diary -->
                                        <!-- <li>
                                            <h6>GROUP A <span>14 JUN 2018 - 18:00</span></h6>
                                            <ul class="club-logo">
                                                <li>
                                                    <img src="img/clubs-logos/rusia.png" alt="">
                                                    <span>RUSSIA</span>
                                                </li>
                                                <li>
                                                    <img src="img/clubs-logos/arabia.png" alt="">
                                                    <span>SAUDI ARABIA</span>
                                                </li>
                                            </ul>
                                        </li> -->
                                        <!-- End Item List Diary -->

                                        <!-- Item List Diary -->
                                        <!-- <li>
                                            <h6>GROUP E <span>22 JUN 2018 - 15:00</span></h6>
                                            <ul class="club-logo">
                                                <li>
                                                    <img src="img/clubs-logos/bra.png" alt="">
                                                    <span>BRAZIL</span>
                                                </li>
                                                <li>
                                                    <img src="img/clubs-logos/costa-rica.png" alt="">
                                                    <span>COSTA RICA</span>
                                                </li>
                                            </ul>
                                        </li> -->
                                        <!-- End Item List Diary -->

                                        <!-- Item List Diary -->
                                        <!-- <li>
                                            <h6>GROUP H <span>19 JUN 2018 - 15:00</span></h6>
                                            <ul class="club-logo">
                                                <li>
                                                    <img src="img/clubs-logos/colombia.png" alt="">
                                                    <span>COLOMBIA</span>
                                                </li>
                                                <li>
                                                    <img src="img/clubs-logos/japan.png" alt="">
                                                    <span>JAPAN</span>
                                                </li>
                                            </ul>
                                        </li> -->
                                        <!-- End Item List Diary -->

                                        <!-- Item List Diary -->
                                        <!-- <li>
                                            <h6>GROUP C <span>16 JUN 2018 - 15:00</span></h6>
                                            <ul class="club-logo">
                                                <li>
                                                    <img src="img/clubs-logos/fra.png" alt="">
                                                    <span>FRANCE</span>
                                                </li>
                                                <li>
                                                    <img src="img/clubs-logos/aus.png" alt="">
                                                    <span>AUSTRALIA</span>
                                                </li>
                                            </ul>
                                        </li> -->
                                        <!-- End Item List Diary -->
                                    <!-- </ul> -->
                                    <!-- End List Diary -->
                                <!-- </div> -->
                                <!-- End Diary -->

                                <!-- Video presentation -->
                                <!-- <div class="panel-box">
                                    <div class="titles no-margin">
                                        <h4>Presentation</h4>
                                    </div> -->
                                    <!-- Locations Video -->
                                    <!-- <div class="row">
                                        <iframe src="https://www.youtube.com/embed/AfOlAUd7u4o" class="video"></iframe>
                                        <div class="info-panel">
                                            <h4>Rio de Janeiro</h4>
                                            <p>Lorem ipsum dolor sit amet, sit amet, consectetur adipisicing elit, elit, incididunt ut labore et dolore magna aliqua sit amet, consectetur adipisicing elit,</p>
                                        </div>
                                    </div> -->
                                    <!-- End Locations Video -->
                                </div>
                                <!-- End Video presentation-->

                                <!-- Widget Text-->
                                <!-- <div class="panel-box">
                                    <div class="titles no-margin">
                                        <h4>Widget Image</h4>
                                    </div>
                                    <img src="img/slide/1.jpg" alt="">
                                    <div class="row">
                                       <div class="info-panel">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  ut sit amet, consectetur adipisicing elit, labore et dolore.</p>
                                       </div>
                                    </div>
                                </div> -->
                                <!-- End Widget Text-->
                            </div>
                            <!-- end Side info single team-->

                        </div>
                    </div>
                </div>
                <!-- Single Team Tabs -->

                
        

        <!-- ======================= JQuery libs =========================== -->
        <!-- jQuery local-->
        <script type="462fbf4960e7bcf764100249-text/javascript" src="assets/js/jquery.js"></script>
        <!-- popper.js-->
        <script type="462fbf4960e7bcf764100249-text/javascript" src="assets/js/popper.min.js"></script>
        <!-- bootstrap.min.js-->
        <script type="462fbf4960e7bcf764100249-text/javascript" src="assets/js/bootstrap.min.js"></script>
        <!-- required-scripts.js-->
        <script type="462fbf4960e7bcf764100249-text/javascript" src="assets/js/theme-scripts.js"></script>
        <!-- theme-main.js-->
        <script type="462fbf4960e7bcf764100249-text/javascript" src="assets/js/theme-main.js"></script>
        <!-- ======================= End JQuery libs =========================== -->

    <script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="462fbf4960e7bcf764100249-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v833ccba57c9e4d2798f2e76cebdd09a11778172276447" integrity="sha512-57MDmcccJXYtNnH+ZiBwzC4jb2rvgVCEokYN+L/nLlmO8rfYT/gIpW2A569iJ/3b+0UEasghjuZH/ma3wIs/EQ==" data-cf-beacon='{"version":"2024.11.0","token":"56295f114ba5467d8767bbed7e63ce1e","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
    
{% endblock %}
